<style>
  article {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  aside {
    width: 30%;
    float: left;
  }
  .main,.raw {
    width: 70%;
    float: right;
  }
</style>
<article>
<header>
  <h1><%= @post.title %></h1>
  <p><em>by <%= @post.author %></em></p>
</header>
	<aside>
  <strong>Tags:</strong>
  <ul>
    <% if @post.tags %>
    <% @post.tags.each do |tag| %>
      <li><a href="#"><%= tag %> &rarr;</a></li>
    <% end %>
    <% end %>
  </ul>

	</aside>
  <section class="main">
    <%= @post.body %>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, ad, id, dolore tempora voluptatum rerum nulla saepe obcaecati nesciunt nam ducimus voluptates rem iste officia quasi. Adipisci dicta nam consequatur ad nulla porro libero necessitatibus pariatur. Qui, sapiente, sequi, repudiandae, aspernatur totam quaerat iste explicabo quod molestias natus laborum accusantium non! Enim, ex, excepturi blanditiis officiis laborum doloremque at voluptatibus rem nemo obcaecati ipsum iusto quasi voluptas molestiae sed similique nostrum et cum reprehenderit dolor soluta atque accusantium quae. Officiis, deserunt, libero eligendi doloribus culpa consequatur sit magnam soluta reprehenderit mollitia adipisci aperiam beatae hic. Dolore necessitatibus iste veniam possimus!</p>
  </section>
  <section class="raw">
    <h2>Raw Markdown:</h2>
    <p><%= @post.raw %></p>
  </section>
</article>